{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="banner">
    <h1>NO TO FAST FASHION. SHOP SECONDHAND</h1>
</div>

<div class="info-sections">
    <div class="about-section">
        <h1>About Us</h1>
        <p>Welcome to our ecommerce website. We are dedicated to providing you with the best products and services.</p>
    </div>

    <div class="mission-section">
        <h2>Our Mission</h2>
        <p>Our mission is to deliver high-quality products that bring joy and satisfaction to our customers. We strive to exceed expectations and provide exceptional customer service.</p>
    </div>

    <div class="values-section">
        <h2>Our Vision</h2>
        <p>To become a trusted leader in our industry by consistently delighting our customers with innovative, high-quality products and exceptional service, building lasting relationships and a reputation for excellence.</p>
    </div>
</div>

<div class="team-section">
    <h2>Our Team</h2>
    <div class="team-member">
        <img src="{{ url_for('static', filename='images/jose-pic.jpg') }}" alt="Team Member 1">
        <h3>Jose Aquino</h3>
        <p>Back-end Developer</p>
    </div>
    <div class="team-member">
        <img src="{{ url_for('static', filename='images/jeremy-pic.jpg') }}" alt="Team Member 2">
        <h3>Jeremy Garin</h3>
        <p>Front-End Developer</p>
    </div>
    <div class="team-member">
        <img src="{{ url_for('static', filename='images/ross-pic.jpg') }}" alt="Team Member 3">
        <h3>Ross Cedric Nazareno</h3>
        <p>Database Manager</p>
    </div>
</div>

{% endblock %}
