
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- <div class="background-blur"></div>
    <div class="background-overlay"></div> -->
    <div class="error-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company Logo" class="logo">
        <h1>404</h1>
        <p>Oops! The page you're looking for doesn't exist.</p>
        <a href="{{ url_for('index') }}" class="btn">Go back to Home Page</a>
    </div>
</body>
</html>

