{% extends 'base.html' %}

{% block content %}

    <!-- Single Product -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <!-- Product Image -->
                <img src="{{ url_for('static', filename='uploads/products/' + product['product_image']) }}" width="100%" id="ProductImg">
                <div class="small-img-row">
                    <!-- Loop through the product images if available -->
                    {% for i in range(4) %}
                        <div class="small-img-col">
                            <img src="{{ url_for('static', filename='uploads/products/' + product['product_image']) }}" width="100%" class="small-img">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-2">
                <p>Home / {{ product['product_category'] }}</p> <!-- Category -->
                <h1>{{ product['product_name'] }}</h1> <!-- Product Name -->
                <h4>${{ product['product_price'] }}</h4> <!-- Product Price -->
                <p><strong>Condition:</strong> {{ product['product_condition'] }}</p> <!-- Product Condition -->
                <p><strong>Size:</strong> {{ product['product_size'] }}</p> <!-- Product Size -->
                <p><strong>Description:</strong> {{ product['product_description'] }}</p> <!-- Product Description -->

                <!-- Toggle Add/Remove Button -->
                <form action="{{ url_for('toggle_cart', product_id=product['product_id']) }}" method="POST">
                    {% if product_in_cart %}
                        <button type="submit" class="btn">Remove from Cart</button>
                    {% else %}
                        <button type="submit" class="btn">Add to Cart</button>
                    {% endif %}
                </form>
                <!-- Wishlist Toggle Button -->
                <form action="{{ url_for('toggle_wishlist', product_id=product['product_id']) }}" method="POST">
                    {% if product_in_wishlist %}
                        <button type="submit" class="btn">Remove from Wishlist</button>
                    {% else %}
                        <button type="submit" class="btn">Add to Wishlist</button>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>

    <!-- Related Products -->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <a href="{{ url_for('products', category=product['product_category']) }}">View More</a>
    </div>
</div>

<!-- Products -->
<div class="small-container">
    <div class="row">
        {% for related_product in related_products %}
            <div class="col-4">
                <!-- Link to the product details page -->
                <a href="{{ url_for('product_details', product_id=related_product['product_id']) }}">
                    <img src="{{ url_for('static', filename='uploads/products/' + related_product['product_image']) }}">
                    <h4>{{ related_product['product_name'] }}</h4>
                    <p>${{ related_product['product_price'] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


    <!-- Product gallery -->
    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function () {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function () {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function () {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function () {
            ProductImg.src = SmallImg[3].src;
        }
    </script>

{% endblock %}
